:root {
  --body-color: #292929; /* общий фон */

  --title-color: #ffffff; /* цвет заголовков */
  --subtitle-color: #ffffff; /* цвет подзаголовков */

  --nav-link-color: #ffffff; /* цвет ссылок в навигации */

  --accent-color: #BB86FC; /* основной цвет тем */

  --bg-hover: rgba(255, 255, 255, 0.12);

  --button-text-color-modal: #FFC759; /* цвет кнопки в модалке */

  --bg-modal-color: #292929; /* задний фон модалки */

  --input-bg-color-modal: #F0F5FF; /* поля ввода в модлаке */
  
  --footer_color_text: #ffffff; /* цвет © 2022 Airbnb, Inc. */

  --label-modal-checkbox: #ffffff; /*color modal label checkbox*/

  --avatar-bg: #979797; /* цвет аватар */

  /* dropdown */
  --dropdown-button-bg: #292929;
  --dropdown-border-color: rgba(255, 255, 255, 0.3);
  --dropdown-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  /* footer */
  --footer-bg: #292929;
  --footer-link-color: #ffffff;

}

/* logo */
.header-logo svg {
  --logo-fill: #ffffff;
}


/* btn-primary */
.btn-primary {
  --button-bg-color: #BB86FC;
  --button-text-color: #ffffff;
}

/* btn-ghost */
.btn-ghost {
 
}


/* forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type="tel"],
textarea,
.btn-transparent {
  --input-bg-color: #ffffff;
  --input-border-color: #061C3D;
}
