:root {
  --body-color: #ffffff; /* общий фон */


  --title-color: #222222; /* цвет заголовков */
  --subtitle-color: #000000; /* цвет подзаголовков */

  --nav-link-color: #222222; /* цвет ссылок в навигации */

  --accent-color: #FF385C; /* основной цвет тем */

  --bg-hover: #eee8e8;

  --button-text-color-modal: #000000; /* цвет кнопки в модалке */

  --footer_color_text: #000000; /* цвет © 2022 Airbnb, Inc. */

  --label-modal-checkbox: #000000; /*color modal label checkbox*/

  --avatar-bg: #717171; /* цвет аватар */

  --text-color: #222222; /*цвет текста (h1,h2,h3)*/

  /* dropdown */
  --dropdown-button-bg: #ffffff;
  --dropdown-border-color: #ddd;
  --dropdown-box-shadow: 0 2px 4px rgba(0,0,0,0.18);

  /* footer */
  --footer-bg: #f7f7f7;
  --footer-link-color: #222222;

  /*bg-body*/
  --bg-color-body: #f7f7f7;

  /*cards*/
  --cards-link-color: #222222;


  /*help*/
  --help-container-h1: #222222;
  --text-help: #222222;


}

/* logo */
.header-logo svg {
  --logo-fill: #22222;
}


/* btn-primary */
.btn-primary {
  --button-bg-color: #FF385C;
  --button-text-color: #ffffff;
}

/* btn-ghost */
.btn-ghost {
 
}


/* forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type="tel"],
textarea {
  --input-bg-color: #ffffff;
  --input-border-color: #B0B0B0;
}





