/*tabs*/
.tabs {
    margin-bottom: 24px;
}


.tabs-list {
    border-radius: 50px;
    padding: 4px;
    display: inline-flex;
    margin-top: 30px
}

.tabs-btn {
    color: #ffffff;
    min-width: 151px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #ce0d62;
    padding: 6.5px 40px;
    font-size: 14px;
}


.tabs-btn__active {
    box-shadow: 0px 1px 3px 1px #7e7e7e;
    background-color: #e61e4d;
}

.tabs-content {
    display: none;
}

.content-img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 8px;
}

.tabs-content__active {
    display: flex;
}

.tabs-underline {
    background-color: #dddddd;
    height: 1px;
}





/*topics*/
.container-topics {
    margin-top: 64px;
    margin-bottom: 64px;
    /*background: red;*/
}

.topics-text {
    border-bottom: 1px solid #dddddd;
}

.topics {
    display: grid;
    margin-top: 37px;
    grid-gap: 32px 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.topics-heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.topics-link {
    line-height: 25px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}